body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 10px 0px;
  font-size: 10px;
}

.inline {
  display: inline !important;
}

header {
  position: fixed;
  display: block;
  height: 50px;
  background: #3f51b5;
/*  background: #9cf;  */
  min-width: 100%;
  padding: 5px 10px;
  font-size: 2em;
  color: white;
}

@media screen and (max-width: 650px) {
  header {
    font-size: 1.5em;
  }

  .progress-bar {
    display: none;
  }

  section.form {
    padding-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .company-page {
    display: none;
  }

  .company-name {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    padding: 0px;
  }
}

@media screen and (min-width: 451px) {
  section.form {
    font-size: 2em;
  }

  .company-name {
    display: inline;
  }
}

@media screen and (min-width: 651px) {
  section.form {
    padding-top: 100px;
  }
}

section {
  padding: 0px 10px;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.company-page {
  float: right;
  margin-right: 20px;
}

.progress-bar {
  position: fixed;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  background: #ff5252;
/*  background: #fc9;  */
  font-size: 2.7em;
  font-style: italic;
  text-align: center;
}

progress {
  text-align: center;
}

progress:before {
  font-size: .7em;
  content: attr(data-label);
}

section.form, section.order-review {
  display: block;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

section.form {
  /*font-size: 2em;*/
}

section.form input {
  display: block;
  font-size: 1em;
}

section.order-review h3 {
  font-size: 2.4em;
}

section.order-review .your-order {
  font-size: 15px;
}

.cc-warning {
  font-size: 0.5em;
  margin-bottom: 1em;
}

.your-order {
  width: 80%;
  border: 1px solid;
  max-width: 100%;
}

tr.headings {
  font-weight: bold;
}

tr.total {
  font-style: italic;
}

td {
  padding: 10px;
  border: 1px solid;
}

tr:nth-child(even) {
  background-color: #eee;
}

.check-correct {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 5px;
}

.check-correct-input {
    position: relative;
    width: 25px;
    height: 25px;
    top: 4px;
    overflow: hidden;
}

.left {
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    min-width: 60%;
}

.left2 {
    float: right;
    padding: 0 4px 0 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.left2 input {
    width: 100%
}

#cc-type {
  float: right;
  height: 2.5em;
  width: 20%;
}

#cc-type-label {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#bill-address-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

#use-bill-address {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 4px;
    *overflow: hidden;
    background-color: #22ccff;
}

#submit {
  font-size: 20px;
}

